@import url(/style/header.css);
@import url(/style/banner.css);
@import url(/style/carrossel.css);
@import url(/style/card.css);
@import url(/style/topicos.css);
@import url(/style/rodape.css);

:root {
    --cor-de-fundo: #ebecee;
    --azul: #002F52;
    --branco: #ffffff;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --preto: #000000;
    --cinza: #858585;
    --cinza-escuro: #474646;
    --font-text: "Poppins";
    --font-secundaria: "Josefins Sans";
}

body{
    background-color: var(--cor-de-fundo);
}

h1{
    background-color: white;
    font-family: var(--font-text);
    font-size: 16px;
    font-weight: 400;
}