.cabecalho_span{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__botao:checked~ .container__rotulo>.cabecalho_span{
    background-image: url(../img/Menu\ Aberto.svg);
}

.container__botao:checked~.container__rotulo{
    background: var(--azul-degrade);
}

.container__texto{
    display: none;
}

.container__imagem, .container__imagem__favoritos{
    padding: 1em;
}

.titulo__logo{
    display: none;
}

.menu__header{
    display: none;
}
.cabecalho_span{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista-menu__titulo{
    color: var(--laranja);
    font-family: var(--font-text);
    font-weight: 700;
}

.lista-menu__item, 
.lista-menu__titulo{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao:checked~.lista-menu{
    display: block;
}

.container__botao{
    display: none;
}


@media screen and (min-width:1024px){

    .container__texto{
        display: none;
    }

    .cabecalho_span{
        display: none;
    }

    .titulo__logo, .titulo__logo__negrito{
        font-family: var(--font-text);
        font-size: 30px;       
    }

    .titulo__logo{
        font-weight: 400;
        display: block;
        margin-right: 50px; 
    }
    
    .titulo__logo__negrito {
        font-weight: 700;
    }

    .menu__header{
        display: flex;
        text-align: center;
        text-decoration: none;
        font-family: var(--font-text);
    }

    .menu__header__item{
        padding: 2em 1em;
        text-transform: uppercase;
    }

    .menu__header__link{
        color: var(--preto);
        text-decoration: none;
    }

    .container__imagem__favoritos{
        display: none;
    }

    .opcoes__botao:checked~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.menu__header__item{
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu__item:hover{
        background: var(--azul-degrade);
    }

    
    .lista-menu__item:focus>.lista-menu__link{
        
        text-decoration: none;
    }

@media screen and (min-width: 1728px){
    
    .container__texto{
        display: block;
        text-decoration: none;
        color: var(--preto);
        font-family: var(--font-text);
    }
}
}
